.todo-container{
    padding: 20px;
    height: 80vh;
    .add-section{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px 10px;
    }
    .list-section {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// Todo Add Styling

.todo-add {
    &-container {
        padding: 10px;
        width: 50%;
    }
    &-input-field {
        display: flex;
        align-items: center;
        .input {
            width: 100%;
            display: block;
            height: 30px;
            padding: 0px 10px;
            outline: none;
        }
        .add-button {
            display: block;
            padding: 10px 20px;
            background-color: $primar-blue;
            border-radius: 5px;
            border: none;
            color: white;
            cursor: pointer;
            margin: 0px 10px;
            &:hover {
                background-color: $primar-blue-hover;
            }
        }
    }
}


// Todo List Styling
.todo-list {
    &-container {
        width: 50%;
        padding: 10px 12px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #222;
        .input {
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid $primar-blue;
            width: 100%;
        }
    }
    &-icons{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
}
